<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<script type="text/javascript" src="external.js"></script>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<title><%= @page.title %></title>
	<link rel="alternate" type="application/rss+xml" title="The Moseying RSS" href="http://www.themoseying.com/tmc.rss">
	<link rel="stylesheet" href="/css/moseying.css" type="text/css" media="screen, projection" />

</head>
<body>
<%= @content %>
<p id="footer"><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="This work is licensed under a Creative Commons License." rel="external">Some Rights Reserved</a>. Everybody be groovy still.</p>
</body>
</html>
